<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title><%= project.title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="single is-preload">

	<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">MABAE</a></h1>
						<nav class="links">
							<ul>
								<li><a href="#"> <strong>Create-A-Project</strong> </a></li>
								<li><a href="#">Arts</a></li>
								<li><a href="#">Technology</a></li>
								<li><a href="#">Food</a></li>
								<li><a href="#">Games</a></li>
								<li style="float: right; border-style: none; padding-bottom: 2px;"><a href="#"class="button large fit">Log In</a></li>
									
							</ul>
								

						</nav>
						<nav class="main">
							<ul>

								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="#">
											<h3>My Profile</h3>
											
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Projects</h3>
											
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Settings</h3>
											
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="#" class="button large fit">Log In</a></li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post" style="overflow:auto;padding-bottom:2em">
								<header>
									<div class="title">
										<h2><a href="/projects/<%= project._id %>"><%= project.title %></a></h2>
									</div>
									<div class="meta">
										<time class="published" datetime="2019-13-01"><%= project.finalDeadLine %></time>
										<span style="display: inline;" class="author">By</span><a href="#" class="author" style="display: inline; float: right; padding-left: .5em"><span class="name"><%= project.creator %></span></a>
									</div>
								</header>
								<span class="image featured" style="margin: 0 auto;"><img src="/assets/images/<%= project.image %>"  style="max-height:50%; max-width:30%; float:left;" /><p style="margin-left: 32.5%; max-width:70%;"> <%= project.briefDescription %> </p></span>
								<footer>
									<a href="#" style = "font-size:3em; margin-left:5%;" class="icon fa-money"><%= project.currentFundraising %></a>
								</footer>
							</article>

					</div>

                    <div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Milestones</a></h2>
										
									        </div>
									            <div class="meta">
									        </div>
								</header>
								<img id="milestone_image" src="" alt="Milestone dates not available" style="max-width:80%;">
								<footer>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon fa-heart">28+</a></li>
										<li><a href="#" class="icon fa-comment">128+</a></li>
									</ul>
								</footer>
							</article>

					</div>
				<!-- Footer -->
					<section id="footer">
						<ul class="icons">
							<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
							<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</section>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
			<script type="text/javascript">
				var img = document.getElementById("milestone_image");
				var deadline1 = "<%= project.milestoneDeadline1 %>";
				var deadline2 = "<%= project.milestoneDeadline2 %>";
				var deadline3 = "<%= project.milestoneDeadline3 %>";
				var deadline4 = "<%= project.milestoneDeadline4 %>";
				var d = new Date();
				var todayDay = d.getDate();
				var todayYear = d.getFullYear();
				var todayMonth = d.getMonth()+1;
				var year = [deadline1.substr(0,4),deadline2.substr(0,4),deadline3.substr(0,4),deadline4.substr(0,4)];
				var month = [deadline1.substr(5,2),deadline2.substr(5,2),deadline3.substr(5,2),deadline4.substr(5,2)];
				var day = [deadline1.substr(8,2),deadline2.substr(8,2),deadline3.substr(8,2),deadline4.substr(8,2)];
				var milestone_number = 0;
				for (var i = 0; i < 4; i++) {
					if(year[i]>todayYear)	{
						milestone_number = i;
						break;
					}
					if(year[i]<todayYear)	{
						milestone_number = i+1;
						continue;
					}
					if(year[i]==todayYear)	{
						if(month[i]>todayMonth)	{
							milestone_number = i;
							break;
						} else if(month[i]<todayMonth)	{
							milestone_number = i+1;
							continue;
						} else {
							if(day[i]>todayDay)	{
								milestone_number = i;
								break;
							} else if(day[i]<todayDay)	{
								milestone_number = i+1;
								continue;
							} else	{
								milestone_number = i+1;
								break;
							}
						}
					}
				}
				if(milestone_number==0)	{
					img.src = "/images/Milestone0.png";
				} else if(milestone_number==1)	{
					img.src = "/images/Milestone1.png";
				} else if(milestone_number==2)	{
					img.src = "/images/Milestone2.png";
				} else if(milestone_number==3)	{
					img.src = "/images/Milestone3.png";
				} else if(milestone_number==4)	{
					img.src = "/images/Milestone4.png";
				}
			</script>
	</body>
</html>
